@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,body{
	height:100%;
	weight:100%;
	font-family:'Poppins' sant-sarif;
	color: #222;
}
.navbar{
	padding:.8rem;
}
.navbar-nav li{
	padding-right:20px;
}
.nav-link{
	font-size:1.1rem !important;
}
.carousel-inner img{
	height:100%;
	width:100%;
}
.jumbotron{
	padding:.1rem;
}
.welcome{
	width:75%;
	margin:0 auto;
	padding-top:2rem;
}

.welcome hr{
	border-top:2px solid #b4b4b4;
	width:95%;
	margin-top:3rem;
	margin-bottom:1rem;
}
.fa-university{
	color:#FF5733;
}
.fa-globe{
	color:#33E0FF;
}
.fa-ship{
	color:#DAF7A6;
}

.fa-university,.fa-globe,.fa-ship{
	font-size:4em;
	margin:1rem;
}
.card img{
	height:90%;
	width:85%;
	padding-top:2rem;
}

.card h4{
	text-align:center;
	font-size:40px;
}
.btn-outline-secondary{
	position:static;
	margin-left:30%;
}
.btn-outline-secondary:hover{
	background-color:#E1A6F7  ;
}

.modal-body p{
	padding-top:5%;
}

.modal-body img{
	height:120%;
	width:40%;
	margin-left:10rem;
}
.contacts{
	background-image:url("../img/contact.png");
}

.contacts img{
	height:100%;
	width:100%;
}
#contact-panel h2{
	color: white;
	font-size:350%;
	font-weight:250%;
}
#contact-panel p{
	color:white;
	 font-size:200%;
}
footer{
	background-color:#3f3f3f;
	color:#d5d5d5;
	padding-top:2rem;
}
hr.light{
    border-top:1px solid #d5d5d5;
	width: 75%;
	margin-top:.8rem;
	margin-bottom:1rem;	
}
footer a{
	color:#d5d5d5;
}
h5.footernote{
	text-align:center;
}






/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  .modal-body img{
	height:120%;
	width:40%;
	margin-left:5rem;
}
.welcome{
	width:75%;
	padding-top:2rem;
}
.welcome h1{
	font-size:30px;
}
.welcome hr{
	margin-top:.20rem;
}
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








